
<!-- backdrop -->
<div *ngIf="(open$ | async) && (args$ | async) as args" @fade (click)="backdropClick()"
    class="absolute w-full h-full bg-opacity-60 px-1 bg-black left-0 top-0 flex flex-col modal-pos-{{args.position}}">
    <!-- content -->
    <div class="bg-base px-4 py-2 rounded-t-xl flex flex-col" id="modal-content" (click)="$event.stopPropagation()">
        <!-- header -->
        <div class="flex-grow-0 text-center border-b-0 border-base-300 pb-2 mb-2">
            <fa-icon icon="times" class="float-right" (click)="cancel()"></fa-icon>
            <h5 class="font-bold">{{args.title}}</h5>
        </div>
        <!-- body -->
        <div>
           
            <ng-template [appModalContent]></ng-template>
        </div>
    </div>
</div>